
*,.wf-roundedmplus1c { font-family: "Rounded Mplus 1c"; }
body{
	color:#491022;
	background-image: url("../img/tatami01.jpg");
	background-repeat: repeat;
	background-size:107% auto;
	padding: 70px 6%;

}
#info div{
	float:right;
	display: block;
}

#ans img{
	width:100px;
	margin-top: 20px;
	margin-right: 10px;

  	box-shadow: 1px 1px 4px rgba(0,0,0,.5);
}

#ques{
	
	font-size:30px;
}


.clearFix:after   {  
    content: ".";  
    display: block;  
    visibility: hidden;  
    height: 0.1px;  
    font-size: 0.1em;  
    line-height: 0;  
    clear: both;  
} 
